<h1># TODOS</h1>

<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <%= for todo <- @todo_list do %>
            <tr>
                <td><%= todo.title %></td>
                <td><%= todo.status %></td>
            </tr>
        <% end %>
    </tbody>
</table>
